In [1]:
import pandas as pd
import numpy as np

![pandas_logo.png]()

En concreto, los puntos clave de esta librera son:

- Estructuras de datos: Esta librera proporciona dos estructuras para trabajar con datos. Estos son las Series que son arrays unidimensionales etiquetados, similares a un vector, lista o secuencia y que es capaz de contener cualquier tipo de datos, y los DataFrames, que es una estructura bidimensional etiquetada con columnas que pueden ser de diferentes tipos, similar a una hoja de clculo o a una tabla SQL.

##Estructuras de Datos

### Series

Una serie en Pandas es una estructura de datos unidimensional etiquetada. Es similar a un array de 1D de NumPy, pero tiene un ndice que permite el acceso a los valores por etiqueta. Una serie puede contener cualquier tipo de datos: enteros, cadenas, objetos de Python...

![series.png]()

Una serie en Pandas tiene dos partes diferenciadas:

- ndice (index): Un array de etiquetas asociado a los datos.
- Valor (value): Un array de datos.
- **Importante:** Para N indices, deben haber N datos. **No puede** haber mas datos que indices o viceversa

In [2]:
serie = pd.Series([1, 2, 3, 4, 5]) #Creacion de una serie sin etiquetas
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
serie = pd.Series(["David","Julian","Santiago","Jesus"], index=["cliente 1","cliente 2","cliente 3","cliente 4"])
serie #Creamos una serie de datos con indices asociados a cada nombre

cliente 1       David
cliente 2      Julian
cliente 3    Santiago
cliente 4       Jesus
dtype: object

### DataFrame

Un DataFrame en Pandas es una estructura de datos bidimensional etiquetada. Es similar a un array de 2D de NumPy, pero tiene un ndice que permite el acceso a los valores por etiqueta por fila y columna.

![dataframe.png]()

Un DataFrame en Pandas tiene varias partes diferenciadas:

- Datos (data): Una matriz de valores y que pueden ser de distinto tipo por columna.
- ndice de fila (row index): Un array de etiquetas asociado a las filas.
- ndice de columna (column index): Un array de etiquetas asociado a las columnas.

Un DataFrame puede verse como un conjunto de series unidas en una estructura tabular, con un ndice por fila en comn y un ndice de columna propio de cada serie.

![series_dataframe.png]()

In [4]:
dataframe = pd.DataFrame([[1,2,3],
                          [4,5,6],
                          [7,8,9]])
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
data = {
    "col A":[1,2,3],
    "col B":[4,5,6],
    "col C":[7,8,9]
}
dataframe = pd.DataFrame(data, index=["a","b","c"])
dataframe

   col A  col B  col C
a      1      4      7
b      2      5      8
c      3      6      9

En un DataFrame se puede acceder a sus elementos por ndice o por posicin. A continuacin se muestran algunas operaciones que se pueden realizar utilizando el DataFrame anterior:

In [6]:
# Acceder a todos los datos de una columna
display(dataframe["col A"]) # Por ndice
display(dataframe.loc[:,"col A"]) # Por ndice
display(dataframe.iloc[:,0]) # Por posicin

# Acceder a todos los datos de una fila
display(dataframe.loc["a"]) # Por ndice
display(dataframe.iloc[0]) # Por posicin

# Acceder a un elemento (fila, columna) concreto
display(dataframe.loc["a", "col A"]) # Por ndice
display(dataframe.iloc[0, 0]) # Por posicin

# Crear una nueva columna
dataframe["col D"] = [10, 11, 12]
display(dataframe)

# Crear una nueva fila
dataframe.loc["d"] = [13, 14, 15,16]
display(dataframe)

# Multiplicar por 10 los elementos de una columna
dataframe["col A"] *= 10
display(dataframe)

# Calcular la suma de todos los elementos
sum_all = dataframe.sum()
display(sum_all)

a    1
b    2
c    3
Name: col A, dtype: int64

a    1
b    2
c    3
Name: col A, dtype: int64

a    1
b    2
c    3
Name: col A, dtype: int64

col A    1
col B    4
col C    7
Name: a, dtype: int64

col A    1
col B    4
col C    7
Name: a, dtype: int64

np.int64(1)

np.int64(1)

   col A  col B  col C  col D
a      1      4      7     10
b      2      5      8     11
c      3      6      9     12

   col A  col B  col C  col D
a      1      4      7     10
b      2      5      8     11
c      3      6      9     12
d     13     14     15     16

   col A  col B  col C  col D
a     10      4      7     10
b     20      5      8     11
c     30      6      9     12
d    130     14     15     16

col A    190
col B     29
col C     39
col D     49
dtype: int64

##### Fundiones para DataFrames

Pandas proporciona una gran cantidad de funciones predefinidas y que se pueden aplicar sobre las estructuras de datos vistas anteriormente. Algunas de las ms utilizadas en el anlisis de datos son:

In [7]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
d1 = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
d2 = pd.DataFrame([[7, 8, 9], [10, 11, 12]])

# Operaciones Aritmticas
display("Suma de series:", s1.add(s2))
display("Suma de DataFrames:", d1.add(d2))

# Operaciones Estadsticas
# Se pueden aplicar de igual forma a los DataFrames
print("Media:", s1.mean())
print("Mediana:", s1.median())
print("Nmero de elementos:", s1.count())
print("Desviacin estndar:", s1.std())
print("Varianza:", s1.var())
print("Mximo valor:", s1.max())
print("Mnimo valor:", s1.min())
print("Correlacin:", s1.corr(s2))
print("Resumen estadstico:", s1.describe())

'Suma de series:'

0    5
1    7
2    9
dtype: int64

'Suma de DataFrames:'

    0   1   2
0   8  10  12
1  14  16  18

Media: 2.0
Mediana: 2.0
Nmero de elementos: 3
Desviacin estndar: 1.0
Varianza: 1.0
Mximo valor: 3
Mnimo valor: 1
Correlacin: 1.0
Resumen estadstico: count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

#### Funciones aplicadas a una serie del DataFrame

In [8]:
s = pd.Series([1,2,3,4])

def squared(x): #Definimos la funcion que va a tomar cada valor de una Serie
  return x**2

s1 = s.apply(squared) #Decimos que a cada termino de la serie le aplicamos la funcion creada
display(s1)

0     1
1     4
2     9
3    16
dtype: int64

In [9]:
s2 = s.apply(lambda x: x ** 2) #Lambda hace la misma funcion de tomar y aplicar
display(s2)

0     1
1     4
2     9
3    16
dtype: int64

In [10]:
data = {
    "A": [1,2,3],
    "B": [4,5,6]
}
df = pd.DataFrame(data)

df["A"] = df["A"].apply(lambda x:  x**2)#APlicamos la funcion a la serie "A"
display(df)

df.loc[0] = df.loc[0].apply(lambda x: x+5)#Aplicamos la funcion a una fila
display(df)

df = df.map(lambda x: x ** 2) #APlicamos la funcion a todo el DataFrame
display(df)

   A  B
0  1  4
1  4  5
2  9  6

   A  B
0  6  9
1  4  5
2  9  6

    A   B
0  36  81
1  16  25
2  81  36

## Ejercicios Pandas

#### Ejercicio Pandas 01: Crea una serie a partir de una lista, de un array de NumPy y de un diccionario ()

In [11]:
data = {
    "price":np.random.randint(10,70, size=4),
    "years_old":np.random.randint(1,20, size=4)
}

df = pd.DataFrame(data, index = ["house 1","house 2","house 3","house 4"])
df

         price  years_old
house 1     25         12
house 2     64          7
house 3     61          3
house 4     10          7

#### Ejercicio Pandas 02: Crea un DataFrame a partir de un array de NumPy, de un diccionario y de una lista de tuplas ()

In [12]:
data = {
    "latidude":tuple(np.random.rand(2)),
    "longitude":tuple(np.random.rand(2))
}
df = pd.DataFrame(data, index=["House 1","house 2"])
df

         latidude  longitude
House 1  0.527290   0.710143
house 2  0.679586   0.369098

#### Ejercicio Pandas 03: Crea 2 series y utilzalas para construir un DataFrame ()

In [13]:
s1 = pd.Series(["Santi","German"])
s2 = pd.Series(["Jesus","Santi"])
data = pd.concat([s1,s2])

data.to_frame()

        0
0   Santi
1  German
0   Jesus
1   Santi

#### Ejercicio Pandas 04: Utiliza las series creadas en el ejercicio anterior y selecciona las posiciones de los elementos de la primera serie que estn en la segunda ()

In [14]:
s1_en_s2 = s1.isin(s2)
posiciones_s1_en_s2 = s1[s1_en_s2].index.tolist()

display(s1_en_s2)
display(posiciones_s1_en_s2)

0     True
1    False
dtype: bool

[0]

#### Ejercicio Pandas 05: Utiliza las series creadas en el ejercicio 03 y lista los elementos no comunes entre ambas ()

In [15]:
no_en_s2_desde_s1 = s1[~s1.isin(s2)].tolist()

# Elementos de s2 que NO estn en s1
no_en_s1_desde_s2 = s2[~s2.isin(s1)].tolist()

# Combinar ambas listas
elementos_no_comunes_filtrado = list(set(no_en_s2_desde_s1 + no_en_s1_desde_s2))
print(f"Elementos no comunes usando .isin(): {elementos_no_comunes_filtrado}")

Elementos no comunes usando .isin(): ['German', 'Jesus']

#### Ejercicio 06: Crea un DataFrame de nmeros aleatorios con 5 columnas y 10 filas y ordena una de sus columnas de menor a mayor ()

In [16]:
data = {
    "col A":np.random.randint(1,7, size=10),
    "col B":np.random.randint(1,7, size=10),
    "col C":np.random.randint(1,7, size=10),
    "col D":np.random.randint(1,7, size=10),
    "col E":np.random.randint(1,7, size=10)
}

df = pd.DataFrame(data).sort_values(by=["col A"], ascending=False)
df

   col A  col B  col C  col D  col E
6      6      6      2      2      3
4      6      5      6      2      3
7      6      4      4      3      5
0      4      6      2      3      3
8      4      3      2      3      5
2      4      6      3      3      1
1      3      2      3      4      5
5      2      6      4      2      4
9      2      4      4      2      1
3      1      3      5      3      2

#### Ejercicio Pandas 07: Modifica el nombre de las 5 columnas del DataFrame anterior por el siguiente formato: N_column donde N es el nmero de la columna ()

In [17]:
rename = {
    "col A":"1_column",
    "col B":"2_column",
    "col C":"3_column",
    "col D":"4_column",
    "col E":"5_column"
}
df.rename(columns = rename)

   1_column  2_column  3_column  4_column  5_column
6         6         6         2         2         3
4         6         5         6         2         3
7         6         4         4         3         5
0         4         6         2         3         3
8         4         3         2         3         5
2         4         6         3         3         1
1         3         2         3         4         5
5         2         6         4         2         4
9         2         4         4         2         1
3         1         3         5         3         2

#### Ejercicio Pandas 08: Modifica el ndice de las filas del DataFrame del ejercicio 06 ()

In [18]:
df.sort_values(by=["col A"], ascending=False, ignore_index=True)

   col A  col B  col C  col D  col E
0      6      6      2      2      3
1      6      5      6      2      3
2      6      4      4      3      5
3      4      6      2      3      3
4      4      3      2      3      5
5      4      6      3      3      1
6      3      2      3      4      5
7      2      6      4      2      4
8      2      4      4      2      1
9      1      3      5      3      2